@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-primary-50: #eef5ff;
  --color-primary-100: #dae8ff;
  --color-primary-200: #bdd8ff;
  --color-primary-300: #90c0ff;
  --color-primary-400: #4891ff;
  --color-primary-500: #3577fc;
  --color-primary-600: #1f57f1;
  --color-primary-700: #1741de;
  --color-primary-800: #1936b4;
  --color-primary-900: #1a328e;
  --color-primary-950: #152156;

  --font-ibmPlexSans: "IBM Plex Sans", sans-serif;

  --breakpoint-mobile: 390px;
  --breakpoint-tablet: 844px;
  --breakpoint-computer: 1280px;
}

::-webkit-scrollbar {
  background-color: transparent;
  height: 0.6em;
  width: 0.6em;
}

::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-gray-100) / var(--tw-bg-opacity));
}

::-webkit-scrollbar-thumb {
  border-radius: 0.6em;
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-gray-300) / var(--tw-bg-opacity));
}

::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-gray-400) / var(--tw-bg-opacity));
}

.dark ::-webkit-scrollbar-track {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-gray-800) / var(--tw-bg-opacity));
}

.dark ::-webkit-scrollbar-thumb {
  border-radius: 0.6em;
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-gray-700) / var(--tw-bg-opacity));
}

.dark ::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(var(--color-gray-600) / var(--tw-bg-opacity));
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
